################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Presentations/bin/Debug
/Repository/bin/Debug
/Services/bin/Debug
